.navbar {
  height: 10vh;
  justify-content: space-between;
  padding-top: 35px;
}

.logo {
  height: 80%;
  width: fit-content;

}

.navbar div {
  height: 80%;
}

.right {
  justify-content: space-between;
  width: 45%;
  align-items: center;
  height: 100%;
}

.dropdown {
  align-items: center;
  justify-content: center;
  width: 40%;
  position: relative;
}

.dropdown div {
  height: 15px;
  width: 15px;
  /* margin: 10px; */
}

.dropdown p {
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
}

/* #A445ED */

.dropdown-fonts {
  position: absolute;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  left: 0;
  z-index: 10;
  top: 120%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-fonts p {
  font-size: 18px;
  padding-left: 20px;

}

.dropdown-fonts p:hover {
  color: #A445ED;
}

.line {
  height: 100px;
  width: 1px;
  background-color: #979797;
}

.toggle {
  background-color: #979797;
  width: 20%;
  border-radius: 20px;
  align-items: center;
}

.toggle:hover {
  background-color: #A445ED;

}

.toggle-circle {
  height: 20px;
  background-color: white;
  width: 25px;
  border-radius: 50%;
  margin-left: 4px;
  position: relative;
}

.go-right {
  /* margin-left: 55%; */
  left: 50%;
}

.night {
  width: 8%;

}

svg {
  fill: red;
}



@media (max-width: 1064px) {}


@media (max-width: 768px) {
  .navbar {
    height: 5vh;
  }

  .right {
    width: 65%;
  }

  .dropdown p {
    font-size: 14px;
  }

  .dropdown-fonts {
    top: 170%;
  }

  .toggle {
    width: 28%;
  }

  .night {
    width: 20%;
  }
}
