.main {
  margin-top: 20px;
  /* margin-bottom: 60px; */
}



.definition-list {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li p {
  font-size: 18px;
  margin-left: 10px;
}

li {
  margin: 12px 0;
  color: #8F19E8;
}

.example {
  color: #757575;
  margin-top: 7px;
}
